@model IEnumerable<ReviewApp.Domain.Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover" style="padding-top: 10%;">
            <h1 class="cover-heading">Welcome To My Review Page.</h1>
            <p class="lead">What to eat today??What restaurant do you want to come?? Let's search it now'.</p>
            <p class="lead">

            </p>
            
            <form asp-action="SearchResults">
                <div class="form-group">
                    <label for="searchString" class="control-label"></label>
                    <input type="text" name="searchString" class="form-control" placeholder="Search..." style="display: inline-block; width:50%;">
                </div>
            </form>
            
            <div class="form-group">
                <input type="submit" value="Explore Now" class="btn btn-primary" style="display: inline-block;margin: 20px;">
               </div>
        </main>

        
    </div>

</div>



